<% let height='' // index undefined ise tek bir makale eğer içerisi doluysa tüm makaleler gösteriliyor. if
    if(index==undefined) { 
        height='600' ; 
    } else{ 
        const mod=index %10 
        if(mod===0 ) { 
            height='600' ; 
        } else{
             height='60' +mod; 
            } 
        } %>


    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/800x<%= height  %> " alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">

                <div class="media-content">
                    <p class="title is-4">
                        <%- makale.title.rendered %>
                    </p>
                    <p class="subtitle is-6">@emremert</p>
                </div>
            </div>

            <div class="content">
                <%- index==undefined ? makale.content.rendered : makale.excerpt.rendered.slice(0,50) %>
                    <% if(index !==undefined){ %>
                        <a href="/blog/<%- makale.id %> ">Devamını Oku</a>
                        <%}%>


            </div>
        </div>
    </div>